<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>PotatoNetworks</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href='{% static "assets/vendor/aos/aos.css" %}' rel="stylesheet">
    <link href='{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
    <link href='{% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %}' rel="stylesheet">
    <link href='{% static "assets/vendor/boxicons/css/boxicons.min.css" %}' rel="stylesheet">
    <link href='{% static "assets/vendor/glightbox/css/glightbox.min.css" %}' rel="stylesheet">
    <link href='{% static "assets/vendor/swiper/swiper-bundle.min.css" %}' rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href='{% static "assets/css/style.css" %}' rel="stylesheet">

    <!-- =======================================================
    * Template Name: BizLand - v3.8.1
    * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
  </head>
  <body>

    <!-- ======= Top Bar ======= -->

    <section id="topbar" class="d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="#">Jhonnykellerdev@gmail.com</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span>+351 915468551</span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <!-- <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a> -->
          <a href="https://www.linkedin.com/in/jhonny-caldeira-54455423a/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
        </div>
      </div>
    </section>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
      <div class="container-fluid d-flex justify-content-between">
        {% for nav in navbar %}
        {% if nav.title %}
        <h1 class="logo me-auto me-lg-0"><a href="index.html">{{nav.title}}</a></h1>
        {% endif %}
        <!-- <div class="container-fluid"> -->
          {% if nav.img %}
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="{% url 'main:index' %}" class=" ms-4 navbar-brand d-flex"> <img alt="" width="200" height="80" src="{{ nav.img.url }}"></a>
          {% endif %}
          {% endfor %}
        <!-- </div> -->
        <nav id="navbar" class="navbar me-5">
          <ul>
            <li><a class="nav-link scrollto" href="{% url 'main:index' %}">Home</a></li>
            <li><a class="nav-link scrollto" href="{% url 'main:about' %}">About</a></li>
            <li><a class="nav-link scrollto" href="{% url 'resume:resume_view' %}">Resume</a></li>


            <!-- Services -->
            <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                {% for service in servicespages_global %}
                {% if not service.hidden %}
                  <li>
                    <form action="{% url 'services:services_view' %}" method="post">
                    {% csrf_token %}
                      <div class="d-grid gap-2">
                        <button class="navlinkbutton" type="submit" name="service_name" value="{{service.title}}">{{service.title}}</button>
                      </div>
                    </form>
                  </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          <!-- end of services -->

            <li><a class="nav-link scrollto" href="{% url 'portfolioURL:portfolio_view' %}">Portfolio</a></li>
            <li><a class="nav-link scrollto" href="{% url 'contact:contact_view' %}">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
      </div>

    </header><!-- End Header -->

    {% block content %}



    {% endblock %}

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Jhonny</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/ -->
          Edited by <a href="#">PotatoNetworks</a> <br>
          <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
        </div>
      </div>
    </footer><!-- End  Footer -->


    <!-- Vendor JS Files -->
    <script src='{% static "assets/vendor/purecounter/purecounter_vanilla.js" %}'></script>
    <script src='{% static "assets/vendor/aos/aos.js" %}'></script>
    <script src='{% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
    <script src='{% static "assets/vendor/glightbox/js/glightbox.min.js" %}'></script>
    <script src='{% static "assets/vendor/isotope-layout/isotope.pkgd.min.js" %}'></script>
    <script src='{% static "assets/vendor/swiper/swiper-bundle.min.js" %}'></script>
    <script src='{% static "assets/vendor/waypoints/noframework.waypoints.js" %}'></script>
    <script src='{% static "assets/vendor/php-email-form/validate.js" %}'></script>

    <!-- Template Main JS File -->
    <script src='{% static "assets/js/main.js" %}'></script>
  </body>
</html>
